body {
    background-image: url('https://c.tenor.com/_hUq1BSUsiMAAAAC/tenor.gif');
    background-size: auto 300px;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAADAAAAB4AAAAvAAAAOAAAADgAAAA4AAAAOAAAADgAAAAvAAAAIwAAABAAAAAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAAAwAAAAMAAAADAAAAAgAAAAMAAAADAAAAAwAAAAoAAAAdAAAAMwAAAEYAAABMAAAATAAAAEwAAABMAAAATAAAAEYAAAA7AAAAIgAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAMAAAADAAAAAwAAAAMAAAADAAAAAgAAAAMAAAAGAAAAEgAAAP4AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAABUAAAAUQAAAEwAAAAxAAAAGAAAAAEAAAABAAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAABgAAAA0AAAD/4ODg/+Dg4P/g4OD/4ODg/+Dg4P/9/f3//f39/wAAAP8AAAC7AAAAVAAAADwAAAAgAAAABgAAAAMAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAIAAAADAAAABAAAAAQAAAAEAAAABAAAAAYAAAAPAAAA/wAAAP/g4OD/BQUF/wAAAP8AAAD/4ODg/+Dg4P/g4OD/4ODg/wAAAP8AAABWAAAAQwAAACsAAAAPAAAABgAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAwAAAAYAAAAJAAAACwAAAAsAAAALAAAAEgAAACIAAAA4AAAA/wAAAP/9/f3//f39//39/f/9/f3//f39/wAAAP8AAAD/AAAA/wAAAFYAAABNAAAAOwAAAB8AAAANAAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAFAAAADwAAABgAAAAfAAAAHwAAAB8AAAAoAAAA8QAAAP/9/f3//f39//39/f/9/f3//f39//39/f/g4OD/4ODg/+Dg4P8AAAD/AAAAVgAAAFMAAABKAAAAMAAAABgAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQAAAA0AAAAhAAAAMgAAADsAAAA7AAAAOwAAAP8AAAD//f39//39/f/9/f3//f39//39/f/9/f3//f39/wAAAP/9/f3//v7+//39/f8AAAD/AAAAVQAAAFIAAABBAAAAIwAAAAoAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALAAAAHgAAADcAAABHAAAATQAAAE0AAAD/4ODg/+Dg4P/9/f3//f39//39/f/9/f3/8vLy//39/f/g4OD/AAAA/6urq/8AAAD//f39//39/f8AAAD/AAAAVQAAAEwAAAAvAAAAEwAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIAAAD/AAAA/wAAAP8AAAD/AAAA/+Dg4P/g4OD//f39//39/f/9/f3//f39/6urq/8AAAD//f39/+Dg4P8AAAD/4ODg/wAAAP/9/f3//f39/wAAAP8AAABWAAAAUwAAADYAAAAaAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAACAAAA/6urq/+rq6v/4ODg/+Dg4P/g4OD/4ODg//39/f/9/f3//f39//39/f/9/f3/4ODg/wAAAP/9/f3/q6ur/wAAAP/9/f3/AAAA//39/f/9/f3/4ODg/wAAAP8AAABVAAAAOAAAABwAAAABAAAAAAAAAAAAAAAAAAAAAAAAAP+rq6v/q6ur//39/f/9/f3//f39//39/f/9/f3//f39//39/f/9/f3//f39//7+/v/9/f3//f39//39/f/g4OD/AAAA//39/f/9/f3//f39//39/f/g4OD/AAAA/wAAAFYAAAA5AAAAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/+Dg4P/9/f3//f39//39/f/9/f3//f39/6urq//g4OD/4ODg//39/f/9/f3//f39//39/f/9/f3//f39/6urq/8AAAD//f39//39/f///////f39/+Dg4P8AAAD/AAAAVgAAADkAAAAcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAA//39/f/9/f3//f39//39/f+rq6v/q6ur/wAAAP8AAAD/4ODg//39/f/9/f3//f39//39/f/9/f3//f39//39/f/9/f3//f39//39/f/9/f3/4ODg/wAAAP8AAABWAAAAOQAAABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAA/w4ODv8AAAD/BAQE/wAAAP8AAAD/AAAACwAAAP/g4OD//f39//39/f/9/f3//f39//39/f/9/f3//f39//39/f/+/v7//f39//39/f/g4OD/AAAA/wAAAFQAAAA4AAAAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAIAAAADAAAAAwAAAAQAAAAEAAAABAAAAAQAAAAEAAAA/+Dg4P/+/v7//v7+//7+/v/+/v7//v7+//39/f/9/f3//f39/+Dg4P/9/f3//f39/+Dg4P8AAAD/AAAAUQAAADUAAAAZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAD/4ODg//7+/v/+/v7//v7+//7+/v/+/v7//f39/+Dg4P/9/f3/4ODg//39/f/9/f3/4ODg/wAAAP8AAABIAAAALAAAABMAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAIAAAADAAAAAwAAAAMAAAACAAAAAwAAAAMAAAADAAAAAwAAAP/g4OD//v7+//7+/v/+/v7//f39/+Dg4P/9/f3//f39//39/f/g4OD//f39/+Dg4P/g4OD/AAAA/wAAADYAAAAdAAAACgAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAgAAAAMAAAADAAAAAwAAAAIAAAADAAAAAwAAAAMAAAADAAAA/+Dg4P/9/f3//f39//39/f/+/v7/4ODg//39/f/g4OD//f39/+Dg4P/9/f3/4ODg/+Dg4P8AAAD/AAAAIAAAAA0AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAAAwAAAAMAAAABAAAAAwAAAAMAAAADAAAAAwAAAP8AAAD/4ODg//39/f/9/f3//f39//7+/v/g4OD//f39/+Dg4P+rq6v/AAAA//39/f/g4OD/AAAA/wAAABgAAAANAAAABAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAIAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAA/+Dg4P/9/f3//v7+//39/f/9/f3//f39/+Dg4P/9/f3/4ODg/wAAAP8AAAD/AAAA/wAAAP8AAAALAAAACQAAAAQAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAgAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAD/4ODg//39/f/9/f3//f39/wAAAP+rq6v/4ODg/6urq//g4OD/AAAA/wAAACIAAAAPAAAABgAAAAQAAAAEAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAP/g4OD//f39//39/f/9/f3/AAAA/+Dg4P8AAAD/8vLy/wAAAP8AAAAYAAAADwAAAAYAAAADAAAAAwAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAIAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAD/q6ur/+Dg4P/9/f3//f39//39/f8AAAD/AAAA/wAAAP8AAAD/AAAACwAAAAkAAAAGAAAAAwAAAAMAAAADAAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAwAAAAMAAAACAAAAAwAAAAMAAAADAAAAAwAAAP+rq6v//f39//39/f/9/f3/q6ur/wAAAP8AAABTAAAAOAAAAB0AAAAEAAAABAAAAAMAAAADAAAAAgAAAAMAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAEAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAA/6urq//9/f3//f39//39/f+rq6v/AAAA/wAAAFMAAAA4AAAAHQAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAMAAAD/q6ur//39/f/9/f3//f39/6urq/8AAADNAAAATwAAADQAAAAbAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAD/q6ur//39/f/9/f3/q6ur/wAAAP8AAABBAAAAKAAAABUAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAIAAAABAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAQAAAP+rq6v//f39//39/f/9/f3/AAAA/wAAACcAAAAVAAAACwAAAAIAAAACAAAAAgAAAAMAAAADAAAAAwAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAgAAAAIAAAACAAAAAQAAAP+rq6v/q6ur/wAAAP8AAAAAAAAAEQAAAAYAAAAFAAAAAgAAAAIAAAACAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAACAAAAAgAAAAFAAAAAwAAAAEAAAACAAAAAgAAAAIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAgAAAAIAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/////////////wH///4Af//8AH///gB///gAf//wAD//4AAf/AAAH/gAAA/wAAAP8AAAD/gAAA/8CAAP//gAD//4AA//+AAP//gAD//wAB//8AA///AB///wA///4Af//+A////gP///4D////A////wP///+H////z///////8='), auto;
}

.about {
    background-color: lightgreen;
    color: red;
    width: 400px;
}

.skills {
    top: 50px;
    color: purple;
    background-color: lightpink;
    width: 400px;
}

@keyframes spinny {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes shifty {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: green;}
    75% {color: blue;}
    100% {color: red;}
}

.projects {
    position: absolute;
    animation-name: spinny;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.contact {
    animation-name: shifty;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: white;
    width: 400px;
}

.problem {
    margin: 0 auto;
    background-color: #69c0ff;
    width: 700px;
    height: 600px;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

a.resume {
    color: red;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
}

.resumecontainer {
    position: absolute;
    background-color: yellow;
    top: 300px;
    left: 500px;
    width: 400px;
    height: 300px;
}
a.resume:link  {text-decoration: none; color: red;}
a.resume:visited {text-decoration: none; color: red;}
a.resume:hover {text-decoration: underline; color: red;}
a.resume:active {text-decoration: none; color: red;}

.sparkle {
    position: absolute;
    top: 300px;
    left: 500px;
    width: 400px;
    height: 300px;
  pointer-events: none;
}

.awesome {
    position: absolute;
    color:  #47193b;
    animation-name: shifty;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    top: 300px;
    left: 1000px;
    width: 400px;
    height: 300px;
}

.design {
    font-size: 54px;
    color: #32CD32;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
    animation-name: vibrate;
    animation-duration: 0.005s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes vibrate {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(-10px);}
}

.play {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 200px;
    left: 500px;
}
