body {
    background-image: url('https://c.tenor.com/_hUq1BSUsiMAAAAC/tenor.gif');
    background-size: auto 300px;
}

.about {
    background-color: lightgreen;
    color: red;
    width: 400px;
}

.skills {
    top: 50px;
    color: purple;
    background-color: lightpink;
    width: 400px;
}

@keyframes spinny {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes shifty {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: green;}
    75% {color: blue;}
    100% {color: red;}
}

.projects {
    position: absolute;
    animation-name: spinny;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.contact {
    animation-name: shifty;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: white;
    width: 400px;
}

.problem {
    margin: 0 auto;
    background-color: #69c0ff;
    width: 700px;
    height: 600px;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
