body {
    background-image: url('https://c.tenor.com/_hUq1BSUsiMAAAAC/tenor.gif');
    background-size: auto 300px;
}

.about {
    background-color: lightgreen;
    color: red;
    width: 400px;
}

.skills {
    top: 50px;
    color: purple;
    background-color: lightpink;
    width: 400px;
}

@keyframes spinny {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes shifty {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: green;}
    75% {color: blue;}
    100% {color: red;}
}

.projects {
    position: absolute;
    animation-name: spinny;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.contact {
    animation-name: shifty;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: white;
    width: 400px;
}

.problem {
    margin: 0 auto;
    background-color: #69c0ff;
    width: 700px;
    height: 600px;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

a.resume {
    color: red;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
}

.resumecontainer {
    position: absolute;
    background-color: yellow;
    top: 300px;
    left: 500px;
    width: 400px;
    height: 300px;
}
a.resume:link  {text-decoration: none; color: red;}
a.resume:visited {text-decoration: none; color: red;}
a.resume:hover {text-decoration: underline; color: red;}
a.resume:active {text-decoration: none; color: red;}

.sparkle {
    position: absolute;
    top: 300px;
    left: 500px;
    width: 400px;
    height: 300px;
  pointer-events: none;
}

.awesome {
    position: absolute;
    background-color: #3d492b;
    color:  #47193b;
    top: 300px;
    left: 1000px;
    width: 400px;
    height: 300px;
}

.design {
    font-size: 54px;
    color: #4b1223;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
    animation-name: vibrate;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes vibrate {
    0% {transform: transform: translateY(-5px); ;}
    50% {transform: transform: translateY(5px); }
    100% {transform: transform: translateY(-5px); }
}
